body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #000000;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #28a745, #3de076);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(206, 206, 206, 0.2);
    transition: all 0.3s ease;
    position: relative;
}

button:hover {
    background: linear-gradient(90deg, #218838, #34d063);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}



button.dark {
    background: linear-gradient(90deg, #cfd1d4, #e6e7eb);
    color: #212529;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

button.dark:hover {
    background: linear-gradient(90deg, #bfc1c4, #d8dadf);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
