body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000; /* Fundo preto */
    color: white; /* Texto branco */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    width: 160px;
    height: 160px;
    border: 8px solid rgba(9, 41, 184, 0.7); /* Borda simulando brilho */
    border-radius: 60%;
    background-color: #95dbfc;
    color: rgb(255, 255, 255); /* Texto branco */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 15px rgba(0, 4, 255, 0.4); /* Brilho inicial leve */
}

button:hover {
    background-color: #004797; /* Amarelo claro ao passar o mouse */
    border: 5px solid rgb(17, 0, 255); /* Brilho mais forte ao passar o mouse */
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}
